.container {
  width: 100%;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 24px 0;
  font-weight: 650;
  font-size: 18px;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
