.container {
}

.main {
  width: 40%;
  margin: 48px auto;
  box-shadow: 1px 1px 8px 2px black;
  padding: 12px;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
}

.heading {
  margin: 12px auto;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px solid black;
}

.title {
  font-weight: 600;
  font-size: 18px;
}

.titleInput {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  padding: 8px 0;
  color: rgb(97, 97, 97);
  margin-bottom: 24px;
  overflow-x: auto;
}

.text {
  margin: 8px 0;
  font-size: 12px;
}

.inputFile {
  margin-bottom: 24px;
}

.uploadButton {
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(0, 218, 94);
  color: white;
  border: none;
  border-radius: 24px;
  padding: 12px 0;
  width: 80%;
  margin: auto;
  cursor: pointer;
}

.uploadButton:hover {
  background-color: rgb(0, 154, 67);
}

@media (max-width: 1200px) and (min-width: 801) {
  .main {
    width: 60%;
  }
}
@media (max-width: 800px) {
  .main {
    width: 90%;
  }
}
